.cards{
    border: 2px solid black;
    padding-bottom: 10px;
    border-radius: 10px;
}
.photo{
    width:95%;
    margin: 10px auto;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}